* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(202, 202, 202);
    font-size: 'Arial', Times, serif;
    color: black;
}

.bold {
    font-weight: 700;
}

header nav {
    background-color: #e79f1d;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: #fff;
    margin-right: 15px;
    font-size: 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #fff;

}

.nav-bar {
    background-color: #7d73b2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.btn-search:hover {
    color: white;
    background-color: #7d73b2;
}

input[type="search"] {
    
    text-align: left;
    word-spacing: -3.5px;
}

.btn-search {
    position: absolute !important;
    margin-left: -17%;
    background-color: #7d73b2;
    font-size: 12px;
    border-radius: 30px;
    width: 100px;
    color: white;
    justify-content: space-between;

}

.cards {
    width: 250px;
    height: 250px;
    border: 0 !important;

}

.cards img {
    width: 100px;
    height: 100px;
}

.background {

    background-color: white;
    padding: 0%;
    margin: 0%;
}

.accordion-item {
    background: rgb(236, 236, 236);
    border: 10px;
    margin-top: 10px;
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 10px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
    display: none;
}

.item-plano h3::after {
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rodape ul li {
    list-style: none;
}


hr.style-four {
    border: 5px solid #2b00ff;
    width: 150px;
    box-shadow: inset 0 12px 12px -12px #2600e6;
    border-radius: 5px;
}